@{
    ViewBag.Title = "Контакты";
}
<h3>@ViewBag.Title</h3>
<address>
    <h4>Менеджер: Екатерина Ювко</h4>
    <p><strong>E-mail: </strong> ersyn_sultanbaev@mail.ru</p>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>